:root {
  --main-text-color: #353535;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #5689ff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  padding: 0 0 0 20px;
}

.menu-navigation {
  line-height: 0;
  padding: 0 15px 0 0;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.list-counter {
  height: 100px;
  background-color: #ff752e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter {
  font-size: 35px;
  padding: 0 25px 0 0;
}

i {
  size: 50px;
  padding: 0 0 0 25px;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 2em;
}

.list {
  vertical-align: bottom;
  position: relative;
}

input {
  size: 20px;
}
