:root {
  --main-text-color: #353535;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #5689ff;
  height: 50px;
}

nav {
  float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
