:root {
  --main-text-color: #353535;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #5689ff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 10px;
  line-height: 0;
  padding: 0 15px 0 0;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 130px;
  text-align: right;
}

nav ul li {
  display: inline-block;
}

h1 {
  padding: 0 0 0 20px;
}
